.bg-counter {
  background: url("../../images/map2.jpg");
  background-position: center;
  background-size: cover;
}

.layer-counter {
  background-color: rgba(2, 2, 2, 0.678);

  top: 0;
  left: 0;
}

.pod {
  padding: 2rem;

  margin-top: 5rem;
}

@media screen and (max-width: 480px) {
  .pod {
    margin-top: 25rem;
  }
}
